Repository folio-sec/terraform-provider-zoom, changes with the labels that .github/labeler.yml gives for each.
All labels: service/phone, service/user, spec, ci

New resource: zoom_phone_user_calling_plans (#31)
  docs/resources/phone_user_calling_plans.md
  examples/resources/zoom_phone_user_calling_plans/import.sh
  examples/resources/zoom_phone_user_calling_plans/provider.tf
  examples/resources/zoom_phone_user_calling_plans/resource.tf
  generated/api/zoomphone/oas_response_decoders_gen.go
  internal/provider/provider.go
  internal/services/phone/usercallingplans/user_calling_plans_crud.go
  internal/services/phone/usercallingplans/user_calling_plans_dto.go
  internal/services/phone/usercallingplans/user_calling_plans_resource.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec

add call_handling_business_hours/closed_hours/holiday_hours resources
  docs/resources/phone_call_handling_business_hours.md
  docs/resources/phone_call_handling_closed_hours.md
  docs/resources/phone_call_handling_holiday_hours.md
  examples/resources/zoom_phone_call_handling_business_hours/import.sh
  examples/resources/zoom_phone_call_handling_business_hours/provider.tf
  examples/resources/zoom_phone_call_handling_business_hours/resource.tf
  examples/resources/zoom_phone_call_handling_closed_hours/import.sh
  examples/resources/zoom_phone_call_handling_closed_hours/provider.tf
  examples/resources/zoom_phone_call_handling_closed_hours/resource.tf
  examples/resources/zoom_phone_call_handling_holiday_hours/import.sh
  examples/resources/zoom_phone_call_handling_holiday_hours/provider.tf
  examples/resources/zoom_phone_call_handling_holiday_hours/resource.tf
  generated/api/zoomphone/oas_json_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  internal/provider/httpclient/logging.go
  internal/provider/provider.go
  internal/services/phone/callhandling/call_handling_business_hours_resource.go
  internal/services/phone/callhandling/call_handling_closed_hours_resource.go
  internal/services/phone/callhandling/call_handling_crud.go
  internal/services/phone/callhandling/call_handling_dto.go
  internal/services/phone/callhandling/call_handling_holiday_hours_resource.go
  internal/services/phone/callqueuephonenumber/call_queue_phone_number_crud.go
  internal/services/phone/callqueuephonenumber/call_queue_phone_numbers_resource.go
  internal/util/typesphone.go
  internal/util/typesuser.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec

revert un-needed phone number unassignAll diff
  internal/services/phone/callqueuephonenumber/call_queue_phone_number_crud.go
  internal/services/phone/callqueuephonenumber/call_queue_phone_numbers_resource.go
Labels: service/phone

add comment for ignoring comstom hour from/to when using type is not 2
  internal/services/phone/callhandling/call_handling_business_hours_resource.go
Labels: service/phone

fix typo
  docs/resources/phone_call_handling_business_hours.md
  docs/resources/phone_call_handling_closed_hours.md
  docs/resources/phone_call_handling_holiday_hours.md
  examples/resources/zoom_phone_call_handling_business_hours/resource.tf
  examples/resources/zoom_phone_call_handling_closed_hours/resource.tf
  examples/resources/zoom_phone_call_handling_holiday_hours/resource.tf
Labels: none

New Resource: zoom_phone_call_handling_business_hours/closed_hours/holiday_hours (#27)
  docs/resources/phone_call_handling_business_hours.md
  docs/resources/phone_call_handling_closed_hours.md
  docs/resources/phone_call_handling_holiday_hours.md
  examples/resources/zoom_phone_call_handling_business_hours/import.sh
  examples/resources/zoom_phone_call_handling_business_hours/provider.tf
  examples/resources/zoom_phone_call_handling_business_hours/resource.tf
  examples/resources/zoom_phone_call_handling_closed_hours/import.sh
  examples/resources/zoom_phone_call_handling_closed_hours/provider.tf
  examples/resources/zoom_phone_call_handling_closed_hours/resource.tf
  examples/resources/zoom_phone_call_handling_holiday_hours/import.sh
  examples/resources/zoom_phone_call_handling_holiday_hours/provider.tf
  examples/resources/zoom_phone_call_handling_holiday_hours/resource.tf
  generated/api/zoomphone/oas_json_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  internal/provider/httpclient/logging.go
  internal/provider/provider.go
  internal/services/phone/callhandling/call_handling_business_hours_resource.go
  internal/services/phone/callhandling/call_handling_closed_hours_resource.go
  internal/services/phone/callhandling/call_handling_crud.go
  internal/services/phone/callhandling/call_handling_dto.go
  internal/services/phone/callhandling/call_handling_holiday_hours_resource.go
  internal/services/phone/callqueuephonenumber/call_queue_phone_numbers_resource.go
  internal/util/typesphone.go
  internal/util/typesuser.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec

goreleaser: change setting to use github style changelog
  .goreleaser.yml
Labels: none

goreleaser: change setting to use github style changelog (#35)
  .goreleaser.yml
Labels: none

add full changelog in release note footer
  .goreleaser.yml
Labels: none

add Zoom Workplace Enterprise calling plan
  internal/services/phone/usercallingplans/user_calling_plans_resource.go
Labels: service/phone

add Zoom Workplace Enterprise calling plan (#38)
  internal/services/phone/usercallingplans/user_calling_plans_resource.go
Labels: service/phone

update docs
  docs/resources/phone_user_calling_plans.md
Labels: none

add zoom_phone_users data source
  Makefile
  docs/data-sources/phone_users.md
  examples/data-sources/zoom_phone_users/data-source.tf
  examples/data-sources/zoom_phone_users/provider.tf
  internal/provider/provider.go
  internal/services/phone/user/user_crud.go
  internal/services/phone/user/user_dto.go
  internal/services/phone/user/users_data_source.go
Labels: service/phone

New data-source: add zoom_phone_users data source (#40)
  Makefile
  docs/data-sources/phone_users.md
  examples/data-sources/zoom_phone_users/data-source.tf
  examples/data-sources/zoom_phone_users/provider.tf
  internal/provider/provider.go
  internal/services/phone/user/user_crud.go
  internal/services/phone/user/user_dto.go
  internal/services/phone/user/users_data_source.go
Labels: service/phone

add zoom_phone_external_contact resource
  docs/resources/phone_external_contact.md
  examples/resources/zoom_phone_external_contact/import.sh
  examples/resources/zoom_phone_external_contact/provider.tf
  examples/resources/zoom_phone_external_contact/resource.tf
  generated/api/zoomphone/oas_json_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  internal/provider/provider.go
  internal/services/phone/externalcontact/external_contact_crud.go
  internal/services/phone/externalcontact/external_contact_dto.go
  internal/services/phone/externalcontact/external_contact_resource.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec

New resource: zoom_phone_external_contact (#41)
  docs/resources/phone_external_contact.md
  examples/resources/zoom_phone_external_contact/import.sh
  examples/resources/zoom_phone_external_contact/provider.tf
  examples/resources/zoom_phone_external_contact/resource.tf
  generated/api/zoomphone/oas_json_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  internal/provider/provider.go
  internal/services/phone/externalcontact/external_contact_crud.go
  internal/services/phone/externalcontact/external_contact_dto.go
  internal/services/phone/externalcontact/external_contact_resource.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec

goreleaser: ignore relsese PR from changelog
  .goreleaser.yml
Labels: none

zoom_phone_call_handling_business_hours wrap_up_time allow zero
  docs/resources/phone_call_handling_business_hours.md
  internal/services/phone/callhandling/call_handling_business_hours_resource.go
Labels: service/phone

fix mapping values
  internal/services/phone/autoreceptionist/auto_receptionist_resource.go
  internal/services/phone/user/user_crud.go
Labels: service/phone

update latest specs
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_json_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_request_encoders_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_parameters_gen.go
  generated/api/zoomuser/oas_response_decoders_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  generated/api/zoomuser/oas_validators_gen.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
  spec/ZoomUserAPISpec.json
Labels: spec

New resource: zoom_phone_call_queue_policy_voice_mail
  .gitignore
  docs/resources/phone_call_queue_policy_voice_mail.md
  examples/resources/zoom_phone_call_queue_policy_voice_mail/import.sh
  examples/resources/zoom_phone_call_queue_policy_voice_mail/provider.tf
  examples/resources/zoom_phone_call_queue_policy_voice_mail/resource.tf
  internal/provider/provider.go
  internal/services/phone/callqueuepolicy/call_queue_policy_crud.go
  internal/services/phone/callqueuepolicy/call_queue_policy_dto.go
  internal/services/phone/callqueuepolicy/call_queue_policy_voice_mail_resource.go
Labels: service/phone

New resource: zoom_phone_call_queue_policy_voice_mail (#54)
  .gitignore
  docs/resources/phone_call_queue_policy_voice_mail.md
  examples/resources/zoom_phone_call_queue_policy_voice_mail/import.sh
  examples/resources/zoom_phone_call_queue_policy_voice_mail/provider.tf
  examples/resources/zoom_phone_call_queue_policy_voice_mail/resource.tf
  internal/provider/provider.go
  internal/services/phone/callqueuepolicy/call_queue_policy_crud.go
  internal/services/phone/callqueuepolicy/call_queue_policy_dto.go
  internal/services/phone/callqueuepolicy/call_queue_policy_voice_mail_resource.go
Labels: service/phone

support zoom_phone_auto_receptionist_ivr import
  examples/resources/zoom_phone_auto_receptionist_ivr/import.sh
  internal/services/phone/autoreceptionistivr/auto_receptionist_ivr_resource.go
Labels: service/phone

support zoom_phone_auto_receptionist_ivr import (#55)
  examples/resources/zoom_phone_auto_receptionist_ivr/import.sh
  internal/services/phone/autoreceptionistivr/auto_receptionist_ivr_resource.go
Labels: service/phone

update the phone_auto_receptionist_ivr docs
  docs/resources/phone_auto_receptionist_ivr.md
Labels: none

update specs
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_request_encoders_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_json_gen.go
  generated/api/zoomuser/oas_parameters_gen.go
  generated/api/zoomuser/oas_response_decoders_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  spec/ZoomPhoneAPISpec.json
  spec/ZoomUserAPISpec.json
Labels: spec

Followed client interface changes due to spec updates
  internal/services/phone/usercallingplans/user_calling_plans_crud.go
Labels: service/phone

Update specs (#67)
  docs/resources/phone_auto_receptionist_ivr.md
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_request_encoders_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_json_gen.go
  generated/api/zoomuser/oas_parameters_gen.go
  generated/api/zoomuser/oas_response_decoders_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  internal/services/phone/usercallingplans/user_calling_plans_crud.go
  spec/ZoomPhoneAPISpec.json
  spec/ZoomUserAPISpec.json
Labels: service/phone, spec

fix call_queue_policy_voice_mail_resource resource logic
  internal/services/phone/callqueuepolicy/call_queue_policy_voice_mail_resource.go
Labels: service/phone

fix zoom_phone_call_queue_policy_voice_mail.access_members.[*].shared_id description
  internal/services/phone/callqueuepolicy/call_queue_policy_voice_mail_resource.go
Labels: service/phone

fix zoom_phone_call_queue_policy_voice_mail resource logic (#74)
  internal/services/phone/callqueuepolicy/call_queue_policy_voice_mail_resource.go
Labels: service/phone

no use UseStateForUnknown in PlanModifiers
  internal/services/phone/autoreceptionist/auto_receptionist_resource.go
  internal/services/phone/autoreceptionistivr/auto_receptionist_ivr_resource.go
  internal/services/phone/blockedlist/blocked_list_resource.go
  internal/services/phone/callhandling/call_handling_business_hours_resource.go
  internal/services/phone/callhandling/call_handling_closed_hours_resource.go
  internal/services/phone/callhandling/call_handling_holiday_hours_resource.go
  internal/services/phone/callqueue/call_queue_resource.go
  internal/services/phone/externalcontact/external_contact_resource.go
  internal/services/phone/user/user_resource.go
Labels: service/phone

support subcategory for docs
  docs/data-sources/phone_auto_receptionist.md
  docs/data-sources/phone_blocked_list.md
  docs/data-sources/phone_call_queue.md
  docs/data-sources/phone_phone_numbers.md
  docs/data-sources/phone_shared_line_group.md
  docs/data-sources/phone_users.md
  docs/data-sources/user_users.md
  docs/resources/phone_auto_receptionist.md
  docs/resources/phone_auto_receptionist_ivr.md
  docs/resources/phone_blocked_list.md
  docs/resources/phone_call_handling_business_hours.md
  docs/resources/phone_call_handling_closed_hours.md
  docs/resources/phone_call_handling_holiday_hours.md
  docs/resources/phone_call_queue.md
  docs/resources/phone_call_queue_members.md
  docs/resources/phone_call_queue_phone_numbers.md
  docs/resources/phone_call_queue_policy_voice_mail.md
  docs/resources/phone_external_contact.md
  docs/resources/phone_shared_line_group.md
  docs/resources/phone_shared_line_group_members.md
  docs/resources/phone_shared_line_group_phone_numbers.md
  docs/resources/phone_user.md
  docs/resources/phone_user_calling_plans.md
  docs/resources/phone_user_phone_numbers.md
  templates/data-sources.md.tmpl
  templates/resources.md.tmpl
Labels: none

Support OperationName for api client via ogen
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_security_gen.go
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_operations_gen.go
  generated/api/zoomuser/oas_security_gen.go
Labels: none

Support OperationName for api client via ogen (#78)
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_security_gen.go
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_operations_gen.go
  generated/api/zoomuser/oas_security_gen.go
Labels: none

no use UseStateForUnknown in PlanModifiers (#76)
  internal/services/phone/autoreceptionist/auto_receptionist_resource.go
  internal/services/phone/autoreceptionistivr/auto_receptionist_ivr_resource.go
  internal/services/phone/blockedlist/blocked_list_resource.go
  internal/services/phone/callhandling/call_handling_business_hours_resource.go
  internal/services/phone/callhandling/call_handling_closed_hours_resource.go
  internal/services/phone/callhandling/call_handling_holiday_hours_resource.go
  internal/services/phone/callqueue/call_queue_resource.go
  internal/services/phone/externalcontact/external_contact_resource.go
  internal/services/phone/user/user_resource.go
Labels: service/phone

Update zoom api specs
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_defaults_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_interfaces_gen.go
  generated/api/zoomuser/oas_json_gen.go
  generated/api/zoomuser/oas_response_decoders_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  spec/ZoomPhoneAPISpec.json
  spec/ZoomUserAPISpec.json
Labels: spec

Fix to edit call queue policy
  internal/services/phone/callqueuepolicy/call_queue_policy_crud.go
Labels: service/phone

Fix to edit call queue policy (#80)
  internal/services/phone/callqueuepolicy/call_queue_policy_crud.go
Labels: service/phone

Update zoom api specs and api client (#79)
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_defaults_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_interfaces_gen.go
  generated/api/zoomuser/oas_json_gen.go
  generated/api/zoomuser/oas_response_decoders_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  spec/ZoomPhoneAPISpec.json
  spec/ZoomUserAPISpec.json
Labels: spec

.github/labeler.yml:

service/phone:
- changed-files:
  - any-glob-to-any-file: internal/services/phone/**/*
service/user:
- changed-files:
  - any-glob-to-any-file: internal/services/user/**/*
spec:
- changed-files:
  - any-glob-to-any-file: spec/**/*
ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
