Repository folio-sec/terraform-provider-zoom, changes with the labels that .github/labeler.yml gives for each.
All labels: service/phone, service/user, spec, ci

update specs
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_defaults_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_request_encoders_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_client_gen.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: spec

update phone specs
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_defaults_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_request_encoders_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_client_gen.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: spec

update user specs
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_interfaces_gen.go
  generated/api/zoomuser/oas_json_gen.go
  generated/api/zoomuser/oas_parameters_gen.go
  generated/api/zoomuser/oas_response_decoders_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  generated/api/zoomuser/oas_validators_gen.go
  scripts/patchSpec.js
  spec/ZoomUserAPISpec.json
Labels: spec

Update specs (#96)
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_defaults_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_request_encoders_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_client_gen.go
  generated/api/zoomuser/oas_interfaces_gen.go
  generated/api/zoomuser/oas_json_gen.go
  generated/api/zoomuser/oas_parameters_gen.go
  generated/api/zoomuser/oas_response_decoders_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  generated/api/zoomuser/oas_validators_gen.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
  spec/ZoomUserAPISpec.json
Labels: spec

support site id for auto_receptionist resource
  internal/services/phone/autoreceptionist/auto_receptionist_crud.go
  internal/services/phone/autoreceptionist/auto_receptionist_dto.go
  internal/services/phone/autoreceptionist/auto_receptionist_resource.go
  internal/services/phone/callqueue/call_queue_resource.go
  internal/services/phone/sharedlinegroup/shared_line_group_resource.go
Labels: service/phone

support site id for auto_receptionist data source
  internal/services/phone/autoreceptionist/auto_receptionist_data_source.go
Labels: service/phone

update docs
  docs/data-sources/phone_auto_receptionist.md
  docs/resources/phone_auto_receptionist.md
  docs/resources/phone_call_queue.md
  docs/resources/phone_shared_line_group.md
Labels: none

Support site for auto_receptionist (#98)
  docs/data-sources/phone_auto_receptionist.md
  docs/resources/phone_auto_receptionist.md
  docs/resources/phone_call_queue.md
  docs/resources/phone_shared_line_group.md
  internal/services/phone/autoreceptionist/auto_receptionist_crud.go
  internal/services/phone/autoreceptionist/auto_receptionist_data_source.go
  internal/services/phone/autoreceptionist/auto_receptionist_dto.go
  internal/services/phone/autoreceptionist/auto_receptionist_resource.go
  internal/services/phone/callqueue/call_queue_resource.go
  internal/services/phone/sharedlinegroup/shared_line_group_resource.go
Labels: service/phone

lint github actions
  .github/workflows/action-lint.yml
Labels: ci

lint github actions (#99)
  .github/workflows/action-lint.yml
Labels: ci

suppress goreleaser DEPRECATED warnings
  .goreleaser.yml
Labels: none

fix action lint
  .github/workflows/action-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: ci

add site resource
  examples/resources/zoom_phone_site/import.sh
  examples/resources/zoom_phone_site/provider.tf
  examples/resources/zoom_phone_site/resource.tf
  internal/services/phone/site/site_crud.go
  internal/services/phone/site/site_dto.go
  internal/services/phone/site/site_resource.go
Labels: service/phone

suppress goreleaser DEPRECATED warnings
  .goreleaser.yml
Labels: none

fix action lint
  .github/workflows/action-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: ci

Fix action lint (#100)
  .github/workflows/action-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
Labels: ci

add site resource
  examples/resources/zoom_phone_site/import.sh
  examples/resources/zoom_phone_site/provider.tf
  examples/resources/zoom_phone_site/resource.tf
  internal/services/phone/site/site_crud.go
  internal/services/phone/site/site_dto.go
  internal/services/phone/site/site_resource.go
Labels: service/phone

fix invalid package names
  internal/provider/provider.go
  internal/services/phone/sharedlinegroup/shared_line_group_crud.go
  internal/services/phone/sharedlinegroup/shared_line_group_data_source.go
  internal/services/phone/sharedlinegroup/shared_line_group_dto.go
  internal/services/phone/sharedlinegroup/shared_line_group_resource.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_member_crud.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_member_dto.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_members_resource.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_number_crud.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_number_dto.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_numbers_resource.go
Labels: service/phone

fix phone api spec about the phone site
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: spec

fix zoom phone site resource logic
  docs/resources/phone_site.md
  examples/resources/zoom_phone_site/resource.tf
  internal/provider/provider.go
  internal/services/phone/site/site_crud.go
  internal/services/phone/site/site_dto.go
  internal/services/phone/site/site_resource.go
Labels: service/phone

add acctest deps and utils
  go.mod
  go.sum
  internal/acceptance/acctest.go
  internal/acceptance/data.go
Labels: none

fix ci about executing test
  .github/workflows/test.yml
  Makefile
Labels: ci

add the site acctests
  internal/services/phone/site/site_resource_test.go
Labels: service/phone

add creds for acctest at ci
  .github/workflows/test.yml
Labels: ci

fix ci about test
  .github/workflows/test.yml
Labels: ci

fix phone site resource about api permissions
  docs/resources/phone_site.md
  internal/services/phone/site/site_resource.go
Labels: service/phone

Support Phone Site resource (#112)
  .github/workflows/test.yml
  Makefile
  docs/resources/phone_site.md
  examples/resources/zoom_phone_site/import.sh
  examples/resources/zoom_phone_site/provider.tf
  examples/resources/zoom_phone_site/resource.tf
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_operations_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  go.mod
  go.sum
  internal/acceptance/acctest.go
  internal/acceptance/data.go
  internal/provider/provider.go
  internal/services/phone/sharedlinegroup/shared_line_group_crud.go
  internal/services/phone/sharedlinegroup/shared_line_group_data_source.go
  internal/services/phone/sharedlinegroup/shared_line_group_dto.go
  internal/services/phone/sharedlinegroup/shared_line_group_resource.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_member_crud.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_member_dto.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_members_resource.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_number_crud.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_number_dto.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_numbers_resource.go
  internal/services/phone/site/site_crud.go
  internal/services/phone/site/site_dto.go
  internal/services/phone/site/site_resource.go
  internal/services/phone/site/site_resource_test.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec, ci

fix tagpr require credential
  .github/workflows/release.yml
  ghalint.yaml
Labels: ci

fix a logic about user list api
  internal/services/phone/user/user_crud.go
Labels: service/phone

Fix: Ensure unique users in phone user list response via anti-corruption layer (#113)
  internal/services/phone/user/user_crud.go
Labels: service/phone

add a settings for test using vscode
  .vscode/launch.json
Labels: none

refactor site test
  internal/services/phone/site/site_resource_test.go
  internal/services/phone/site/site_test.go
Labels: service/phone

add site datasource
  internal/provider/provider.go
  internal/services/phone/site/site_data_source.go
  internal/services/phone/site/site_data_source_test.go
Labels: service/phone

add a site example and update docs
  docs/data-sources/phone_site.md
  docs/resources/phone_site.md
  examples/data-sources/zoom_phone_site/data-source.tf
  examples/data-sources/zoom_phone_site/provider.tf
Labels: none

Support phone site datasource (#118)
  .vscode/launch.json
  docs/data-sources/phone_site.md
  docs/resources/phone_site.md
  examples/data-sources/zoom_phone_site/data-source.tf
  examples/data-sources/zoom_phone_site/provider.tf
  internal/provider/provider.go
  internal/services/phone/site/site_data_source.go
  internal/services/phone/site/site_data_source_test.go
  internal/services/phone/site/site_resource_test.go
  internal/services/phone/site/site_test.go
Labels: service/phone

fix api spec: an emergency address of zoom phone
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: spec

add emergency address resource and datasource
  docs/data-sources/phone_emergency_address.md
  docs/resources/phone_emergency_address.md
  internal/provider/provider.go
  internal/services/phone/emergencyaddress/emergency_address_crud.go
  internal/services/phone/emergencyaddress/emergency_address_data_source.go
  internal/services/phone/emergencyaddress/emergency_address_data_source_test.go
  internal/services/phone/emergencyaddress/emergency_address_dto.go
  internal/services/phone/emergencyaddress/emergency_address_resource.go
  internal/services/phone/emergencyaddress/emergency_address_resource_test.go
  internal/services/phone/emergencyaddress/emergency_address_test.go
Labels: service/phone

fix emergency_address_resource_test
  internal/services/phone/emergencyaddress/emergency_address_resource_test.go
Labels: service/phone

adjust emergency_address_resource ModifyPlan
  internal/services/phone/emergencyaddress/emergency_address_resource.go
Labels: service/phone

fix emergency address data source
  internal/services/phone/emergencyaddress/emergency_address_data_source.go
Labels: service/phone

.github/labeler.yml:

service/phone:
- changed-files:
  - any-glob-to-any-file: internal/services/phone/**/*
service/user:
- changed-files:
  - any-glob-to-any-file: internal/services/user/**/*
spec:
- changed-files:
  - any-glob-to-any-file: spec/**/*
ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
