Repository folio-sec/terraform-provider-zoom, pull requests merged in 2024-08, with the labels that each got.

#23 refactor plural handling
  internal/provider/provider.go
  internal/services/phone/autoreceptionist/auto_receptionist_crud.go
  internal/services/phone/autoreceptionistivr/auto_receptionist_ivr_crud.go
  internal/services/phone/blockedlist/blocked_list_crud.go
  internal/services/phone/callqueue/call_queue_crud.go
  internal/services/phone/callqueuemember/call_queue_member_crud.go
  internal/services/phone/callqueuemember/call_queue_member_dto.go
  internal/services/phone/callqueuemember/call_queue_members_resource.go
  internal/services/phone/callqueuephonenumber/call_queue_phone_number_crud.go
  internal/services/phone/callqueuephonenumber/call_queue_phone_number_dto.go
  internal/services/phone/callqueuephonenumber/call_queue_phone_numbers_resource.go
  internal/services/phone/phonenumbers/phone_number_crud.go
  internal/services/phone/phonenumbers/phone_number_dto.go
  internal/services/phone/sharedlinegroup/shared_line_group_crud.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_member_crud.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_member_dto.go
  internal/services/phone/sharedlinegroupmember/shared_line_group_members_resource.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_number_crud.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_number_dto.go
  internal/services/phone/sharedlinegroupphonenumber/shared_line_group_phone_numbers_resource.go
  internal/services/phone/user/user_crud.go
  internal/services/phone/userphonenumber/user_phone_number_crud.go
  internal/services/phone/userphonenumber/user_phone_number_dto.go
  internal/services/phone/userphonenumber/user_phone_numbers_resource.go
  internal/util/types.go
  internal/util/typesfrom.go
  internal/util/typesphone.go
Labels: service/phone

#26 Add zoom_user_users data source
  docs/data-sources/user_users.md
  examples/data-sources/zoom_user_users/data-source.tf
  examples/data-sources/zoom_user_users/provider.tf
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomuser/oas_client_gen.go
  go.mod
  go.sum
  internal/provider/provider.go
  internal/services/user/user/user_crud.go
  internal/services/user/user/user_dto.go
  internal/services/user/user/users_data_source.go
  internal/services/user/user/users_data_source_model.go
  internal/util/typesfrom.go
  internal/util/typesuser.go
Labels: service/user

#28 Update specs
  generated/api/zoomphone/oas_client_gen.go
  generated/api/zoomphone/oas_json_gen.go
  generated/api/zoomphone/oas_parameters_gen.go
  generated/api/zoomphone/oas_request_encoders_gen.go
  generated/api/zoomphone/oas_response_decoders_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  generated/api/zoomphone/oas_validators_gen.go
  generated/api/zoomuser/oas_parameters_gen.go
  generated/api/zoomuser/oas_schemas_gen.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
  spec/ZoomUserAPISpec.json
Labels: spec

#29 fix phone user resource
  internal/provider/provider.go
  internal/schema/customplanmodifier/null_to_empty_string.go
  internal/services/phone/user/user_resource.go
Labels: service/phone

#32 Update project settings
  .github/labeler.yml
  Makefile
  README.md
Labels: ci

#31 New resource: zoom_phone_user_calling_plans
  docs/resources/phone_user_calling_plans.md
  examples/resources/zoom_phone_user_calling_plans/import.sh
  examples/resources/zoom_phone_user_calling_plans/provider.tf
  examples/resources/zoom_phone_user_calling_plans/resource.tf
  generated/api/zoomphone/oas_response_decoders_gen.go
  internal/provider/provider.go
  internal/services/phone/usercallingplans/user_calling_plans_crud.go
  internal/services/phone/usercallingplans/user_calling_plans_dto.go
  internal/services/phone/usercallingplans/user_calling_plans_resource.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec

#27 New Resource: zoom_phone_call_handling_business_hours/closed_hours/holiday_hours
  docs/resources/phone_call_handling_business_hours.md
  docs/resources/phone_call_handling_closed_hours.md
  docs/resources/phone_call_handling_holiday_hours.md
  examples/resources/zoom_phone_call_handling_business_hours/import.sh
  examples/resources/zoom_phone_call_handling_business_hours/provider.tf
  examples/resources/zoom_phone_call_handling_business_hours/resource.tf
  examples/resources/zoom_phone_call_handling_closed_hours/import.sh
  examples/resources/zoom_phone_call_handling_closed_hours/provider.tf
  examples/resources/zoom_phone_call_handling_closed_hours/resource.tf
  examples/resources/zoom_phone_call_handling_holiday_hours/import.sh
  examples/resources/zoom_phone_call_handling_holiday_hours/provider.tf
  examples/resources/zoom_phone_call_handling_holiday_hours/resource.tf
  generated/api/zoomphone/oas_json_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  internal/provider/httpclient/logging.go
  internal/provider/provider.go
  internal/services/phone/callhandling/call_handling_business_hours_resource.go
  internal/services/phone/callhandling/call_handling_closed_hours_resource.go
  internal/services/phone/callhandling/call_handling_crud.go
  internal/services/phone/callhandling/call_handling_dto.go
  internal/services/phone/callhandling/call_handling_holiday_hours_resource.go
  internal/services/phone/callqueuephonenumber/call_queue_phone_numbers_resource.go
  internal/util/typesphone.go
  internal/util/typesuser.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec

#38 add Zoom Workplace Enterprise calling plan
  internal/services/phone/usercallingplans/user_calling_plans_resource.go
Labels: service/phone

#40 New data-source: add zoom_phone_users data source
  Makefile
  docs/data-sources/phone_users.md
  examples/data-sources/zoom_phone_users/data-source.tf
  examples/data-sources/zoom_phone_users/provider.tf
  internal/provider/provider.go
  internal/services/phone/user/user_crud.go
  internal/services/phone/user/user_dto.go
  internal/services/phone/user/users_data_source.go
Labels: service/phone

#41 New resource: zoom_phone_external_contact
  docs/resources/phone_external_contact.md
  examples/resources/zoom_phone_external_contact/import.sh
  examples/resources/zoom_phone_external_contact/provider.tf
  examples/resources/zoom_phone_external_contact/resource.tf
  generated/api/zoomphone/oas_json_gen.go
  generated/api/zoomphone/oas_schemas_gen.go
  internal/provider/provider.go
  internal/services/phone/externalcontact/external_contact_crud.go
  internal/services/phone/externalcontact/external_contact_dto.go
  internal/services/phone/externalcontact/external_contact_resource.go
  scripts/patchSpec.js
  spec/ZoomPhoneAPISpec.json
Labels: service/phone, spec
